.empty-settings{
    background-color: #F9F9F9;
    border-radius: 6px;
    width:100%;
    display:flex;
    flex-direction:column;  
    align-items: center;
    justify-content: center;
    padding-top: 165px;
    padding-bottom: 270px;
    p{
        text-align: center;  
        max-width: 65%;  
    }
}

