.criteria-tool-tip {
    
    -webkit-box-shadow: 3px 3px 5px 0px rgb(0,31,38, 0.35);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0px rgb(0,31,38, 0.35);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 6px 5px 6px rgb(0,31,38, 0.35);
  ;
  border-radius: 10px !important;
  opacity: 100%;
}